body {
    background: #eee;
    text-align: center;
    padding: 0 25px;
    font-family: arial, sans-serif;
}

#main, #chats {
    width: 500px;
    margin: auto;
    text-align: left;
    background: white;
    padding: 50px 60px;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
}

#main h1 {
    margin-top: 0;
    font-size: 35px;
    margin-bottom: 5px;
    padding: 5px;
}

#main h1:hover {
    text-decoration: underline;
    color: blue;
}

#main h1 span {
    font-style:italic;
}

#main ul {
    padding-left: 20px;
}

#main .error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 20px;
}

#main .success {
    margin-top: 25px;
}

#main .success code {
    font-size: 12px;
    color: green;
    line-height: 13px;
}

form {
    padding: 20px;
    padding-left: 0;
    margin-bottom: 20px;
}

form input[type=text] {
    margin-right: 10px;
    width: 70%;
    font-size: 12px;
    padding: 5px;
}

.chat {
    padding: 5px;
    margin-bottom: 5px;
    background-color: #eee;
}

.chat .username {
    font-weight: 800;
}

.post:hover {
    background-color: #ddd;
}

.spinner {
    float: right;
    height: 46px;
    margin-bottom: 5px;
}

.spinner img {
    padding: 10px;
}

.friend {
    color: #fff;
    text-shadow: 2px 2px 5px goldenrod, -2px -2px 5px goldenrod;
}

.username {
    font-size:22px;
    transition: font-size 2s;
}

.username:hover {
    font-size:40px;
    transition: font-size 2s;
}

.post {
    position:relative;
    left: -10000px;
    margin: 2px;
    padding: 4px 8px;
    background: #eee;
}

#send { 
    padding:10px;
    background-color: lightblue;
    margin: auto;
    width: 100%;
    border-top: 2px solid black;
    border-bottom: 2px solid black; 
}

#message:active {
    border: 1px solid lightblue;
}

.roomtag{
    position: relative;
    display: block;
    text-align: right;
    font-style: italic;
    font-size: 50%;
    padding: 3px;
}

.roomtag:hover {
    text-decoration: underline;
    color: blue;
}

